@import url(common.css);

body:before { display : none; content : ''; width : 100%; height : 100%; position : fixed; top : 0; left : 0; background-color: rgba(0, 0, 0, 0.5); z-index: 1;}
body.active { overflow : hidden }
body.active:before {  display : block }



body.type_padding { padding-top : 87px }
body.type_padding #noriTop { display : none !important }


#noriTop { position : relative; background-color: #eef2f7; padding : .2rem 1rem; z-index: 2;} 
#noriTop img { margin-right : .5rem } 

header { position : relative; z-index : 99; background-color: #fff; }

.header_top { display : flex; justify-content: end; align-items : center; padding : 1rem 0; } 
.header_top a { display : inline-flex; padding : 0 1rem; align-items: center; font-size : 14px } 
.header_top a img { width : 15px; margin : 0 0.1rem } 
.header_top a img:nth-child(2n) { width : 15px; margin : 0 0 0 0.5rem } 
#settingView img { width : 20px } 
.header_ctrl { position : relative; } 
#changeLang:after { content : ''; width : 1px; height : 15px; background-color: var(--gray40); display : block; position : absolute; top : 0; right : 0 } 
.header_ctrl ul { display : none; position : absolute; top : 30px; left : 0; background-color: var(--white); padding : .5rem; border : 1px solid var(--gray30); z-index: 2; border-radius : .5rem; } 
.header_ctrl.active ul { display : block } 
.header_ctrl ul:before { content: ""; width: 10px; height: 10px; position: absolute; bottom: 100%; left: 50%; display: block; margin-bottom: -5px; margin-left: -5px; transform: rotate(-135deg); background-color: var(--white); border: 0.1rem solid var(--gray30); border-top-color: transparent; border-left-color: transparent; } 
.header_ctrl ul a { display : block; line-height : 30px; } 

.header_middle { justify-content: space-between } 
.header_actions button,
.header_actions a { display : inline-flex; flex-direction: column; margin : 0 .3rem; font-size : 15px; height : 45px; justify-content: space-between; } 
.header_actions span { display : flex; align-items: center; justify-content: center; height : 20px; margin-bottom : .5rem } 
.header_actions img { width : 20px } 
#headerPc.type_krds nav { position : relative; border-top : 1px solid var(--gray30); border-bottom : 1px solid var(--gray30); margin-top : 1.1rem } 
#headerPc.type_krds nav > .inner { padding : 0 } 
#headerPc.type_krds #nav > li { display : inline-block } 
#headerPc.type_krds #nav > li > button,
#headerPc.type_krds #nav > li > a { position : relative; display : flex; line-height : 55px; text-align : center; font-size : 1.2rem; font-weight: bold; padding : 0 1rem } 

#headerPc.type_krds #nav > li.active > button,
#headerPc.type_krds #nav > li.active > a { color : var(--primary80); font-weight: bold; } 
#headerPc.type_krds #nav > li > button:before,
#headerPc.type_krds #nav > li > a:before { content : ''; width : 0; height : 3px; background-color: transparent; position : absolute; bottom : 0; left : 50%; display : block; transition : all .3s ease } 
#headerPc.type_krds #nav > li.active > button:before,
#headerPc.type_krds #nav > li.active > a:before { width : 100%; background-color: var(--primary80); left : 0 } 


#headerPc.type_krds #nav > li.active > button span { transform : rotate(180deg) } 
#headerPc.type_krds #nav > li span { display : inline-flex; align-items: center; margin-left : 1.5rem } 


#headerPc.type_krds #nav .nav_inner { display : none; position : absolute; width : 100%; top : 55px; left : 0; background-color: #fff; border-top : 1px solid var(--gray30); border-bottom : 1px solid var(--gray30) } 
#headerPc.type_krds #nav .nav_inner.active { display : block } 
#headerPc.type_krds #nav .nav_inner ul { position : relative; max-width: 90rem; margin : 0 auto; height : 100%; padding : 1.2rem 0 } 
#headerPc.type_krds #nav .depth_list .nav_inner ul:before { content : ''; width : 250px; left : 0; height : 100%; background-color: var(--primary5); position : absolute; top : 0 } 
#headerPc.type_krds .nav_li > a { display : flex; height : 55px; align-items: center; justify-content: space-between; padding : 0 1rem; font-size : 1.1rem } 
#headerPc.type_krds #nav .nav_inner ul .nav_sub { display : none; position : absolute; top : 0; left : 250px; padding : 0; width : calc(100% - 250px); padding : 1.5rem } 
#headerPc.type_krds #nav .nav_sub_li > a { display : flex; justify-content: space-between; position : relative; z-index : 1; width : 250px; height : 55px; align-items: center; padding : 0 1.5rem } 
#headerPc.type_krds #nav .nav_sub_li.active > a { background-color: var(--white); color : var(--primary80); font-weight: bold; } 
#headerPc.type_krds .nav_li.active > a span { transform : rotate(-90deg) } 
#headerPc.type_krds .nav_sub_li.active .nav_sub { display : block !important } 
#headerPc.type_krds #nav ol { display : grid; grid-template-columns: repeat(4, 1fr); } 
#headerPc.type_krds .nav_sub h3 { font-size : 1.5rem } 
#headerPc.type_krds .nav_sub ol { margin-top : 1rem } 
#headerPc.type_krds .nav_sub li { margin : .5rem 0 } 
#headerPc.type_krds .nav_sub li a { position : relative; display : block; font-size : 1.2rem; padding-left : 15px } 
#headerPc.type_krds .nav_sub li a:before { content : ''; display : block; width : 4px; height : 4px; border-radius: 100%; background-color : var(--secondary50); position : absolute; top : 8px; left : 0; } 
#headerPc.type_krds #nav .nav_sub_li a span { transform : rotate(-90deg) } 
#headerPc.type_krds .single_list .nav_sub { max-width : 90rem; margin : 0 auto; padding : 2rem } 



#headerPc.type_nav01 { position : fixed; top : 0; left : 0; width : 100%; display : flex; justify-content: space-between; padding : 0 1rem 0 160px; align-items : baseline; border-bottom : 1px solid var(--gray30) }
#headerPc.type_nav01 > h1 { position : absolute; top : 20px; left : 20px }
#headerPc.type_nav01 > ul { display : inline-flex; justify-content: space-between; width : 100%; max-width : 30rem; margin : 0 auto; transition : all .3s ease; position : relative;  }
#headerPc.type_nav01 > ul:before { content : ''; position : fixed; top : 88px; left : 0; width : 100%; height : 0; background-color: var(--white); overflow : hidden; transition : all .3s ease }
#headerPc.type_nav01 > ul > li { position : relative; width : calc(100% / 3); }
#headerPc.type_nav01 > ul > li:before { content: ""; width: 100%; height: 2px; background: var(--primary); position: absolute; bottom: -1px; left: 0; transform: scaleX(0); transition: transform 0.5s; } 
#headerPc.type_nav01 > ul > li:hover:before { transform: scaleX(1); }
#headerPc.type_nav01 > ul > li:hover > a { color : var(--primary)}
#headerPc.type_nav01 > ul > li > a {  text-align : center; padding : 1rem 0} 
#headerPc.type_nav01 > ul a { display : block; line-height : 45px; padding : 0 1rem }
#headerPc.type_nav01 > ul a:hover { text-decoration: none;}
#headerPc.type_nav01 > ul > li > a { font-size : 1.2rem; line-height : 55px }
#headerPc.type_nav01 > ul ol { position : absolute; top : 90px; left : 0; width : 100%; height : 0; overflow : hidden; transition : all .3s ease; border-right : 1px solid var(--gray30); z-index : 1 }
#headerPc.type_nav01 > ul ol:before {  content : ''; width : 100%; height : 100%; position : absolute; top : 0; left : 0; background-color: var(--white); transition : all .3s ease; z-index : -1 }
#headerPc.type_nav01 > ul > li:hover ol:before { background: var(--primary5);}
#headerPc.type_nav01 li.has_sub a { position : relative; display : flex; justify-content: space-between; align-items: center;}
#headerPc.type_nav01 li.has_sub a i { font-size : .8rem; transition : all .3s ease }
#headerPc.type_nav01 li.has_sub.active a i { transform : rotate(90deg)}
#headerPc.type_nav01 > ul ol a:hover { color : var(--primary) }
#headerPc.type_nav01 > ul:hover { max-width : 40rem }
#headerPc.type_nav01 > ul:hover:before { display : block; height : 398px; border-bottom : 1px solid var(--gray10) }
#headerPc.type_nav01 > ul:hover ol { height : 398px  }
#headerPc.type_nav01 > ul ul { max-height : 0; overflow : hidden; transition : all .3s ease }
#headerPc.type_nav01 > ul ol > li:hover > a { color : var(--primary) }
#headerPc.type_nav01 > ul ul a { font-size : .9rem; padding-left : 2rem; line-height : 35px }



#headerPc.type_nav02 { position : fixed; top : 0; left : 0; width : 100%; display : flex; justify-content: space-between; padding : 0 1rem 0 160px; align-items : baseline; border-bottom : 1px solid var(--gray30) }
#headerPc.type_nav02 > h1 { position : absolute; top : 20px; left : 20px }
#headerPc.type_nav02 > ul { display : inline-flex; justify-content: space-between; width : 100%; max-width : 40rem; margin : 0 auto; transition : all .3s ease; position : relative;  }
#headerPc.type_nav02 > ul > li { position : relative; width : calc(100% / 3); }
#headerPc.type_nav02 > ul > li:before { content: ""; width: 100%; height: 2px; background: var(--primary); position: absolute; bottom: -1px; left: 0; transform: scaleX(0); transition: transform 0.5s; } 
#headerPc.type_nav02 > ul > li:hover:before { transform: scaleX(1); }
#headerPc.type_nav02 > ul > li:hover > a { color : var(--primary)}
#headerPc.type_nav02 > ul > li > a {  text-align : center; padding : 1rem 0} 
#headerPc.type_nav02 > ul a { display : block; line-height : 45px; padding : 0 1rem }
#headerPc.type_nav02 > ul a:hover { text-decoration: none;}
#headerPc.type_nav02 > ul > li > a { font-size : 1.2rem; line-height : 55px }
#headerPc.type_nav02 > ul ol { position : absolute; top : 87px; left : 0; width : 100%; height : 0; overflow : hidden; transition : all .3s ease; z-index : 1; background-color: var(--white);  }
#headerPc.type_nav02 > ul > li:hover ol { background: var(--primary5); border : 1px solid var(--primary); border-top : none }
#headerPc.type_nav02 li.has_sub a { position : relative; display : flex; justify-content: space-between; align-items: center;}
#headerPc.type_nav02 li.has_sub a i { font-size : .8rem; transition : all .3s ease }
#headerPc.type_nav02 li.has_sub.active a i { transform : rotate(90deg)}
#headerPc.type_nav02 > ul ol a:hover { color : var(--primary) }
#headerPc.type_nav02 > ul > li:hover ol { height : auto  }
#headerPc.type_nav02 > ul ul { max-height : 0; overflow : hidden; transition : all .3s ease }
#headerPc.type_nav02 > ul ul a { position : relative; padding-left : 2rem; }
#headerPc.type_nav02 > ul ol > li:hover > a { background-color : var(--primary); color : var(--white) }
#headerPc.type_nav02 > ul ul a:before { content : '-'; position : absolute; top : 0px; left : 1rem; }








#headerMobile { display : none; padding : 1rem; border-top : 1px solid var(--gray30); border-bottom : 1px solid var(--gray30) } 
#mobileNav { display : none; background: rgba(0, 0, 0, 0.5); position : fixed; top : 0; left : 0; width : 100%; height : 100%; z-index : 9 } 
#headerMobile.active #mobileNav { display : block } 
#mobileNav .inner { position : fixed; top : 0; right : 0; width : 400px; background-color: var(--white); height : 100%; overflow : hidden auto; padding : 0 } 
#mobileNav .header_top { justify-content: start; } 
#mobileNav nav { display : flex; height : calc(100% - 112px); overflow : hidden auto } 
#mobileNav .mobile_nav { flex-shrink: 0; flex-basis: 150px; background-color: var(--primary5); } 
#mobileNav .mobile_nav .mobile_nav_btn { display : block; padding : 0 1rem; line-height : 55px; font-size : 18px } 
#mobileNav .mobile_nav .mobile_nav_btn.active { background-color: var(--white); color : var(--primary80); font-weight: bold; } 
#mobileNav .mobile_nav_list { overflow : auto; width : 100%; scroll-behavior: smooth; } 
#mobileNav .mobile_nav_list > div { padding : 1rem 1.5rem } 
#mobileNav .mobile_nav_list h2 { font-size : 1.1rem; padding : 0 0 1rem .5rem; border-bottom : 1px solid var(--gray30) } 
#mobileNav .mobile_nav_list ul { margin : 1rem 0 0 0; } 
#mobileNav .mobile_nav_list a { position : relative; display : block; line-height : 45px; padding : 0 .5rem; font-size : 16px} 
#mobileNav .mobile_nav_list li.has_sub a span { position : absolute; top : 5px; right : 5px; } 
#mobileNav .mobile_nav_list li.has_sub a span img { width : 18px; transition : all .3s ease } 
#mobileNav .mobile_nav_list li.has_sub ol { display : none; padding-left : 1rem } 
#mobileNav .mobile_nav_list li.has_sub:hover ol { display : block } 
#mobileNav .mobile_nav_list li.has_sub:hover a span img { transform : rotate(180deg) } 

#mobileNav .login_wrap a { display : flex; align-items: center; padding : 1rem; border-top : 1px solid var(--gray30); border-bottom : 1px solid var(--gray30); font-size : 16px } 
#mobileNav .login_wrap a img { margin-right : .5rem } 
#navClose { position : absolute; top : 0; right : 0; padding : 1rem } 



footer { border-top : 1px solid var(--gray30); margin-top : 10rem; background-color: var(--gray5); } 
footer .footer_link { border-bottom : 1px solid var(--gray30); background-color : #fff } 
footer .footer_link .inner { display : flex; border-left : 1px solid var(--gray30) } 
footer .footer_link .inner a { display : flex; width : 20%; height : 45px; align-items: center; justify-content: space-between; border-right : 1px solid var(--gray30); padding : 0 1rem } 
footer > .inner { padding : 2rem 1rem } 
footer .flex { justify-content: space-between; } 
footer .footer_top h1 { margin-bottom : 2rem } 
footer .footer_top p { margin : 1.2rem 0 } 
footer .footer_top a { display : block; margin : 1rem 0 } 
footer .footer_btm { border-top : 1px solid var(--gray30); padding : 2rem 0; font-size : 14px } 
footer .footer_btm a { display : inline-block; margin : 0 5px 0 0 } 

.sub_content { position : relative; padding-left : 280px; margin : 3rem auto; min-height : 100% } 
.sub_content nav { position : absolute; top : 0; left : 0; width : 250px; background-color: #fff; } 
.sub_content #subTitle { font-size : 1.6rem; padding : 0 1rem 1rem 1rem; border-bottom : 1px solid var(--gray30); } 
#sideNav a,
#sideNav button { position : relative; display : block; width : 100%; text-align: left; line-height: 50px; font-size : 1.1rem; padding : 0 1rem } 
#sideNav button { font-weight: bold; } 
#sideNav button:after { content : url('/img/common/ico_angle.svg'); position : absolute; top : 0; right : 1rem; transition : all .3s ease } 
#sideNav > li { border-bottom : 1px solid var(--gray30); padding : 0 0.5rem } 
#sideNav .lnb_submenu { display : none } 
#sideNav > li.active .lnb_submenu { display : block } 
#sideNav > li.active button:after { top : -5px; transform : rotate(180deg) } 
#sideNav > li a { padding-left : 2rem } 
#sideNav > li a.selected { background-color : var(--primary5); color : var(--primary80); font-weight: bold; } 
#sideNav > li a:before { content : ''; width : 4px; height : 4px; background-color: var(--primary80); border-radius : 100%; position : absolute; top : calc(50% - 2px); left : 1rem } 

.breadcrumb { display: flex; align-items: center; justify-content: flex-start; flex-direction: row; gap: var(--krds-gap-2); width: 100%; } 
.breadcrumb li { display : inline-flex; align-items: center } 
.breadcrumb .home .txt { display : flex; align-items: center; } 
.breadcrumb .home .txt::before { content : ''; align-items: center; justify-content: flex-start; flex-direction: row; content: ""; display: inline-flex
; width: 1rem; height: 1rem; background-color: #000; mask-repeat: no-repeat; mask-position: center center; mask-size: contain; mask-image : url('/img/common/ico_bread_home.svg'); margin-right : .2rem } 
.breadcrumb li:not(:last-child)::after { align-items: center; justify-content: flex-start; flex-direction: row; content: ""; margin : 0 .3rem; display: inline-flex; width: 1rem; height: 1rem; background-color: #000; mask-repeat: no-repeat; mask-position: center center; mask-size: contain; mask-image: url(/img/common/ico_angle.svg); transform: rotate(-90deg); } 
#pageTitle { margin : 2rem 0; font-size : 2rem } 

#optPanel { position : fixed; top : 0; right : -250px; width : 250px; height : 100%; background-color: var(--gray10); z-index : 99; padding : 2rem; transition : all .3s ease }
#optPanel.active { right : 0 }
#optPanel button { position : absolute; top : 2rem; left: -60px; padding : 0.7rem; background-color: var(--primary); color : var(--white) }
#optPanel .panel_inner { height : 100%; overflow : hidden auto }
#optPanel select { display : block; width : 100%; height : 45px; margin : 1rem 0 0 0 }





@media ( max-width : 1024px ){
 #headerPc.type_krds { display : none } 
 #headerMobile { display : block } 
 }




















