@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pretendard';
    font-weight: 400;
    line-height: 130%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

[hidden] {
    display: none
}

body {
    line-height: 1
}

menu,
ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

html,
body {
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

:root {
    --blue: #007bff;
    --lightblue: #3c8dbc;
    --navy: #001f3f;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --fuchsia: #f012be;
    --maroon: #d81b60;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --olive: #3d9970;
    --cyan: #17a2b8;
    --lime: #01ff70;
    --white: #fff;
    --dark: #343a40;
    --black: #000000;
    --gray: #6c757d;
    --lightgray: #e9e9e9;
    --darkgray: #343a40;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --primary: #246BEB;
    --primary5: #eef2f7;
    --primary10: #D3E1FB;
    --primary20: #A7C4F7;
    --primary30: #7CA6F3;
    --primary40: #5089EF;
    --primary60: #1D56BC;
    --primary70: #16408D;
    --primary80: #0E2B5E;
    --primary90: #07152F;
    --secondary: #003675;
    --secondary5: #EDF1F5;
    --secondary10: #CDD7E4;
    --secondary20: #B4C4D6;
    --secondary30: #99B0CB;
    --secondary40: #2A5C96;
    --secondary50: #003675;
    --secondary60: #002B5E;
    --secondary70: #002046;
    --secondary80: #00162F;
    --secondary90: #000B17;
    --danger60: #D50136;
    --accent5: #FDF2F3;
    --point: #E71825;
    --point5: #FDF2F3;
    --point10: #FAD1D3;
    --point20: #F5A3A8;
    --point30: #F1747C;
    --point40: #EC4651;
    --point60: #B9131E;
    --point70: #8B0E16;
    --point80: #5C0A0F;
    --point90: #2E0507;
    --gray5: #F8F8F8;
    --gray10: #F0F0F0;
    --gray20: #E4E4E4;
    --gray30: #D8D8D8;
    --gray40: #C6C6C6;
    --gray50: #8E8E8E;
    --gray60: #717171;
    --gray70: #555555;
    --gray80: #2D2D2D;
    --gray90: #1D1D1D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

[class^=bg-].disabled {
    opacity: .65;
}

[class^=hover_] {
    transition: all .3s ease
}

[class^=hover_]:hover,
[class^=hover_].active {
    background-color: var(--primary5);
    color: var(--primary80)
}

a {
    transition: all .3s ease;
    color: #111
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: transparent;
    border: 1px solid transparent;
}

img {
    display: inline-block
}

input,
select,
textarea { border : 1px solid var(--gray30); border-radius : .5rem; font-size : 1rem; padding : 0 0.5rem; }

input[type=checkbox],
input[type=radio] {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.form_check input[type=checkbox]~label,
.form_check input[type=radio]~label {
    position: relative;
    display: inline-flex;
    gap: .8rem;
    font-size: 1rem;
}

.form_check input[type=radio]:checked~label:before {
    border-color: #256ef4
}

.form_check input[type=radio]~label:before {
    border-radius: 100%
}

.form_check input[type=checkbox]~label:before,
.form_check input[type=radio]~label:before {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    z-index: 3;
    background-color: var(--white);
    border: .1rem solid #d0d0d0;
}

.form_check input[type=checkbox]~label:after,
.form_check input[type=checkbox]~label:before,
.form_check input[type=radio]~label:after,
.form_check input[type=radio]~label:before {
    display: flex;
    content: "";
    transition: .4s cubic-bezier(.4, 0, .23, 1);
}

.form_check input[type=radio]:checked~label:after {
    background-color: #256ef4;
}

.form_check input[type=radio]:checked~label:after {
    top: calc(50% - 5px);
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #256ef4;
    border-radius: 100%;
}

.form_check input[type=checkbox]~label:after,
.form_check input[type=radio]~label:after {
    position: absolute;
    z-index: 4;
}

select[disabled="disabled"],
input[readonly="readonly"],
input[readonly],
input[disabled="disabled"],
input[disabled],
select[readonly],
textarea[readonly] {
    background-color: #F6F7FA !important;
    color: #667183 !important;
}


@media (max-width : 800px) {

    html,
    body {
        font-size: .9rem;
    }
}