<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW KRDS USER</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="noriTop">
        <div class="inner flex align">
            <img src="/img/common/ico_flag.svg" alt="">
            이 누리집은 대한민국 공식 전자정부 누리집입니다.
        </div>
    </div>
    <header id="headerPc" class="type_krds"></header>
    <header id="headerMobile"></header>
    <div class="inner sub_content">
        <nav>
            <h2 id="subTitle">컴포넌트</h2>
            <ul class="lnb-list" id="sideNav"></ul>
        </nav>

        <div class="page_wrap">
            <div id="breadcrumb"></div>
            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>
        </div>

        <div class="accordion_wrap">
            <div class="acco_inner">
                <button class="toggle_title">버튼 <i class="svg_icon ico_angle "></i></button>
                <div class="toggle_content">
                    <div class="toggle_inner">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
                        laudantium consequatur cumque repellendus, sit ducimus iste doloremque accusantium autem.
                        Itaque, voluptatum. Dolorum ratione laborum aliquid ab ullam aut nobis eaque?
                    </div>
                </div>
            </div>
            <div class="acco_inner">
               <button class="toggle_title">버튼 <i class="svg_icon ico_angle "></i></button>
                <div class="toggle_content">
                    <div class="toggle_inner">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
                        laudantium consequatur cumque repellendus, sit ducimus iste doloremque accusantium autem.
                        Itaque, voluptatum. Dolorum ratione laborum aliquid ab ullam aut nobis eaque?
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer></footer>
    <script src="/js/layout.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>