<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW KRDS USER</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="noriTop">
        <div class="inner flex align">
            <img src="/img/common/ico_flag.svg" alt="">
            이 누리집은 대한민국 공식 전자정부 누리집입니다.
        </div>
    </div>
    <header id="headerPc" class="type_krds"></header>
    <header id="headerMobile"></header>
    <div class="inner sub_content">
        <nav>
            <h2 id="subTitle">컴포넌트</h2>
            <ul class="lnb-list" id="sideNav"></ul>
        </nav>

        <div class="page_wrap">
            <div id="breadcrumb"></div>
            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>
        </div>

        <div class="disclosure_wrap">
            <button class="toggle_title"><i class="svg_icon ico_expand"></i>신청 서비스안내</button>
            <div class="toggle_content">
                <ul>
                    <li>하나의 아이디로 안전하고 편리하게 여러 전자정부 서비스를 이용할 수 있는 서비스입니다.</li>
                    <li>디지털원패스 이용문의 : 1533-3713 (평일9~18시, 공휴일제외)</li>
                </ul>
            </div>
        </div>

        <div class="disclosure_wrap">
            <button class="toggle_title"><i class="svg_icon ico_expand"></i>신청 서비스안내</button>
            <div class="toggle_content">
                <ul>
                    <li>하나의 아이디로 안전하고 편리하게 여러 전자정부 서비스를 이용할 수 있는 서비스입니다.</li>
                    <li>디지털원패스 이용문의 : 1533-3713 (평일9~18시, 공휴일제외)</li>
                </ul>
            </div>
        </div>
    </div>

    <footer></footer>
    <script src="/js/layout.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>