<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW KRDS USER</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="noriTop">
        <div class="inner flex align">
            <img src="/img/common/ico_flag.svg" alt="">
            이 누리집은 대한민국 공식 전자정부 누리집입니다.
        </div>
    </div>
    <header id="headerPc" class="type_krds"></header>
    <header id="headerMobile"></header>
    <div class="inner sub_content">
        <nav>
            <h2 id="subTitle">컴포넌트</h2>
            <ul class="lnb-list" id="sideNav"></ul>
        </nav>

        <div class="page_wrap">
            <div id="breadcrumb"></div>
            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>
        </div>

        <button class="btn tooltip_btn" data-tooltip="버튼 요소 길이보다 툴팁 길이가 긴경우 ">tooltip 01 <i
                class="svg_icon ico_help"></i></button>
        <button class="btn tooltip_btn" data-tooltip="두 줄이상<br>툴팁<br>예시">tooltip 02</button>
        <hr />
        <div class="contextual_help top left">
            <p>
                예시이미지(상단 오른쪽)
            </p>

            <div class="context_action">
                <button class="btn_context"><i class="svg_icon ico_info"></i></button>
                <div class="contextual_content">
                    <h2>도움말 제목</h2>
                    컴포넌트 주변에 배치되어 해당 컴포넌트의 상태나 관련된 상세 정보를 제공하는 컴포넌트이다. 맥락적 도움말은 정보 아이콘이나 도움 아이콘 버튼을
                    통해 사용자가
                    요청하는 경우에만 화면에 표시된다.
                    <a href="#;">바로가기 <i class="svg_icon ico_angle right"></i></a>
                </div>
            </div>
        </div>

        <div class="contextual_help top center">
            <p>
                예시이미지(상단 중앙)
            </p>

            <div class="context_action">
                <button class="btn_context"><i class="svg_icon ico_info"></i></button>
                <div class="contextual_content">
                    <h2>도움말 제목</h2>
                    컴포넌트 주변에 배치되어 해당 컴포넌트의 상태나 관련된 상세 정보를 제공하는 컴포넌트이다. 맥락적 도움말은 정보 아이콘이나 도움 아이콘 버튼을
                    통해 사용자가
                    요청하는 경우에만 화면에 표시된다.
                    <a href="#;">바로가기 <i class="svg_icon ico_angle right"></i></a>
                </div>
            </div>
        </div>

        <div class="contextual_help top right">
            <p>
                예시이미지(상단 왼쪽)
            </p>

            <div class="context_action">
                <button class="btn_context"><i class="svg_icon ico_info"></i></button>
                <div class="contextual_content">
                    <h2>도움말 제목</h2>
                    컴포넌트 주변에 배치되어 해당 컴포넌트의 상태나 관련된 상세 정보를 제공하는 컴포넌트이다. 맥락적 도움말은 정보 아이콘이나 도움 아이콘 버튼을
                    통해 사용자가
                    요청하는 경우에만 화면에 표시된다.
                    <a href="#;">바로가기 <i class="svg_icon ico_angle right"></i></a>
                </div>
            </div>
        </div>



        <div class="contextual_help bottom left">
            <p>
                예시이미지(하단 오른쪽)
            </p>

            <div class="context_action">
                <button class="btn_context"><i class="svg_icon ico_info"></i></button>
                <div class="contextual_content">
                    <h2>도움말 제목</h2>
                    컴포넌트 주변에 배치되어 해당 컴포넌트의 상태나 관련된 상세 정보를 제공하는 컴포넌트이다. 맥락적 도움말은 정보 아이콘이나 도움 아이콘 버튼을
                    통해 사용자가
                    요청하는 경우에만 화면에 표시된다.
                    <a href="#;">바로가기 <i class="svg_icon ico_angle right"></i></a>
                </div>
            </div>
        </div>

        <div class="contextual_help bottom center">
            <p>
                예시이미지(하단 중앙)
            </p>

            <div class="context_action">
                <button class="btn_context"><i class="svg_icon ico_info"></i></button>
                <div class="contextual_content">
                    <h2>도움말 제목</h2>
                    컴포넌트 주변에 배치되어 해당 컴포넌트의 상태나 관련된 상세 정보를 제공하는 컴포넌트이다. 맥락적 도움말은 정보 아이콘이나 도움 아이콘 버튼을
                    통해 사용자가
                    요청하는 경우에만 화면에 표시된다.
                    <a href="#;">바로가기 <i class="svg_icon ico_angle right"></i></a>
                </div>
            </div>
        </div>

        <div class="contextual_help bottom right">
            <p>
                예시이미지(하단 왼쪽)
            </p>

            <div class="context_action">
                <button class="btn_context"><i class="svg_icon ico_info"></i></button>
                <div class="contextual_content">
                    <h2>도움말 제목</h2>
                    컴포넌트 주변에 배치되어 해당 컴포넌트의 상태나 관련된 상세 정보를 제공하는 컴포넌트이다. 맥락적 도움말은 정보 아이콘이나 도움 아이콘 버튼을
                    통해 사용자가
                    요청하는 경우에만 화면에 표시된다.
                    <a href="#;">바로가기 <i class="svg_icon ico_angle right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <footer></footer>
    <script src="/js/layout.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/module.js"></script>

</body>

</html>