<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW KRDS USER</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="noriTop">
        <div class="inner flex align">
            <img src="/img/common/ico_flag.svg" alt="">
            이 누리집은 대한민국 공식 전자정부 누리집입니다.
        </div>
    </div>
    <header id="headerPc" class="type_krds"></header>
    <header id="headerMobile"></header>
    <div class="inner sub_content">
        <nav>
            <h2 id="subTitle">컴포넌트</h2>
            <ul class="lnb-list" id="sideNav"></ul>
        </nav>

        <div class="page_wrap">
            <div id="breadcrumb"></div>
            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>
        </div>

        <h3 class="sub_title">날짜 선택</h3>
        <div class="flatpicker_wrap">
            <span class="flat_inner">
                <input type="text" class="flatpickr_custom" id="selectDate">
                <i class="svg_icon ico_calendar"></i>
            </span>
        </div>


        <h3 class="sub_title mgt3">날짜 범위 선택</h3>
        <div class="flatpicker_wrap flat_range">
            <span class="flat_inner">
                <input type="text" class="flatpickr_custom" id="dateRange">
                <i class="svg_icon ico_calendar"></i>
            </span>
            <span>-</span>
            <span class="flat_inner">
                <input type="text" class="flatpickr_custom" id="dateOnHolyday">
                <i class="svg_icon ico_calendar"></i>
            </span>
        </div>
    </div>
    <footer></footer>
    <div id="optPanel"></div>
    <script src="/js/layout.js"></script>
    <script src="/js/script.js"></script>

    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        flatpickr("#selectDate");
        flatpickr('#dateRange', {
            minDate: '2024-01-15',
            maxDate: '2024-01-21',
        });
        flatpickr('#dateOnHolyday', {
            enable: [
                function (date) {
                    return date.getDay() === 0; // Sunday 만 허용
                },
            ],
        });
    </script>
</body>

</html>