<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/custom.css" type="text/css" rel="stylesheet" />

    <script defer src="https://cdn.jsdelivr.net/npm/krds-uiux@1.0.3/resources/cdn/krds.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
</head>

<body>
    <!-- 건너뛰기 링크 -->
    <div id="krds-skip-link">
        <a href="#breadcrumb">본문 바로가기</a>
    </div>
    <!-- //건너뛰기 링크 -->
    <!-- masthead -->
    <div id="krds-masthead">
        <div class="toggle-wrap">
            <div class="toggle-head">
                <div class="inner">
                    <span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- //masthead -->

    <!-- header -->
    <div id="headerWrap"></div>
    <!-- //header -->

    <div class="inner sub_content">
        <!-- side navigation -->
        <nav class="krds-side-navigation">
            <h2 class="lnb-tit">컴포넌트</h2>
            <!-- lnb-list -->
            <ul class="lnb-list" role="menubar" id="sideNav"></ul>
            <!-- //lnb-list -->
        </nav>
        <!-- //side navigation -->

        <div class="page_wrap">
            <!-- breadcrumb -->
            <nav class="krds-breadcrumb-wrap" aria-label="현재 경로" id="breadcrumb"></nav>

            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>

            <h4 class="con-tit">링크</h4>
            <!-- link -->
            <a href="https://www.site_name.com/" class="krds-btn small link" target="_blank" title="새 창 열림">
                <span class="underline">기본 링크</span>
                <i class="svg-icon ico-go"></i>
            </a>
            <a href="#!" class="krds-btn medium link pure">
                <span class="underline">가상클래스 상태 시 컬러 유지</span>
            </a>
            <a href="#!" class="krds-btn large link basic" target="_blank" title="새 창 열림">
                <span class="underline">본문 텍스트 컬러 링크</span>
                <i class="svg-icon ico-go"></i>
            </a>
            <a href="#!" class="krds-btn large link basic">
                <span class="underline hidden-underline">가상클래스 상태 시 밑줄</span>
            </a>
            <a href="#!" class="krds-btn large link basic">
                <span>밑줄 없음</span>
            </a>
            <!-- //link -->

            <h4 class="con-tit">기본 버튼</h4>
            <!-- button -->
            <button type="button" class="krds-btn">버튼</button>
            <button type="button" class="krds-btn primary">버튼 : primary</button>
            <button type="button" class="krds-btn secondary">버튼 : secondary</button>
            <button type="button" class="krds-btn tertiary">버튼 : tertiary</button>

            <!-- //button -->

            <h4 class="con-tit">버튼 사이즈</h4>
            <!-- button -->
            <button type="button" class="krds-btn xsmall">x-small 버튼</button>
            <button type="button" class="krds-btn small">small 버튼</button>
            <button type="button" class="krds-btn medium">medium 버튼</button>
            <button type="button" class="krds-btn large">large 버튼</button>
            <button type="button" class="krds-btn xlarge">x-large 버튼</button>
            <!-- //button -->

            <h4 class="con-tit">버튼 아이콘</h4>
            <!-- button -->
            <button type="button" class="krds-btn xsmall">
                x-small 버튼
                <i class="svg-icon ico-sch"></i>
            </button>
            <button type="button" class="krds-btn small">
                small 버튼
                <i class="svg-icon ico-sch"></i>
            </button>
            <button type="button" class="krds-btn medium">
                medium 버튼
                <i class="svg-icon ico-sch"></i>
            </button>
            <button type="button" class="krds-btn large">
                large 버튼
                <i class="svg-icon ico-sch"></i>
            </button>
            <button type="button" class="krds-btn xlarge">
                <i class="svg-icon ico-sch"></i>
                x-large 버튼
            </button>
            <!-- //button -->

            <h4 class="con-tit">텍스트 버튼</h4>
            <!-- button -->
            <button type="button" class="krds-btn small text">텍스트 버튼</button>
            <button type="button" class="krds-btn xsmall text">찜하기 <i class="svg-icon ico-like"></i></button>
            <button type="button" class="krds-btn small text">주민등록표초본 <i class="svg-icon ico-angle right"></i></button>
            <button type="button" class="krds-btn medium text">검색 <i class="svg-icon ico-sch"></i></button>
            <button type="button" class="krds-btn xlarge text">자세히 보기 <i class="svg-icon ico-more"></i></button>
            <button type="button" class="krds-btn text">파일다운로드 <i class="svg-icon ico-down"></i></button>
            <button type="button" class="krds-btn text" disabled>필터 <i class="svg-icon ico-filter"></i></button>
            <!-- //button -->

            <h4 class="con-tit">아이콘 버튼</h4>
            <!-- button -->
            <button type="button" class="krds-btn icon">
                <span class="sr-only">검색</span>
                <i class="svg-icon ico-sch"></i>
            </button>
            <button type="button" class="krds-btn icon medium">
                <span class="sr-only">입력한 비밀번호 보기</span>
                <i class="svg-icon ico-pw-visible"></i>
            </button>
            <button class="krds-btn icon medium btn-help-exec">
                <span class="sr-only">도움말</span>
                <i class="svg-icon ico-help"></i>
            </button>

            <button type="button" class="krds-btn large icon border">
                <span class="sr-only">새로고침</span>
                <i class="svg-icon ico-refresh"></i>
            </button>
            <button type="button" class="krds-btn large icon border" disabled>
                <span class="sr-only">열기</span>
                <i class="svg-icon ico-angle down"></i>
            </button>
            <!-- //button -->
        </div>
    </div>


    <!-- footer -->
    <footer id="krds-footer"></footer>
    <!-- //footer -->
    <script src="/js/layout.js"></script>
</body>

</html>