<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW KRDS USER</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="noriTop">
        <div class="inner flex align">
            <img src="/img/common/ico_flag.svg" alt="">
            이 누리집은 대한민국 공식 전자정부 누리집입니다.
        </div>
    </div>
    <header id="headerPc" class="type_krds"></header>
    <header id="headerMobile"></header>
    <div class="inner sub_content">
        <nav>
            <h2 id="subTitle">컴포넌트</h2>
            <ul class="lnb-list" id="sideNav"></ul>
        </nav>

        <div class="page_wrap">
            <div id="breadcrumb"></div>
            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>
        </div>

        <div class="structured_list">
            <p class="structed_badge">
                <span class="btn btn_sm btn_lightprimary">뱃지</span>
            </p>
            <a href="#;">
                <h2>
                    <span class="ellipsis">타이틀 영역 타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀
                        영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역</span>
                    <img src="/img/common/ico_angle.svg" alt="">
                </h2>
                <p class="ellipsis">
                    간단한 설명이 들어가는 영역입니다. 최대 3줄까지 작성합니다. 간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한
                    설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이
                    들어가는 영역입니다. 최대 3줄까지 작성합니다. 간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는
                    영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.
                </p>
                <span class="btn btn_lightprimary">신청하기</span>
            </a>
            <dl>
                <dt>신청 기간</dt>
                <dd>2025.01.01 - 2025.01.01</dd>
            </dl>
            <p class="hash_wrap">
                <span class="btn btn_light_border btn_sm">#태그</span>
                <span class="btn btn_light_border btn_sm">#태그</span>
                <span class="btn btn_light_border btn_sm">#태그</span>
            </p>
            <div class="share_wrap">
                <button class="hover_btn btn btn_xs">
                    <i class="svg_icon ico_share"></i>
                    공유하기
                </button>
                <button class="hover_btn btn btn_xs">
                    <i class="svg_icon ico_like"></i>
                    찜하기
                </button>
            </div>
        </div>
        <div class="structured_list">
            <p class="structed_badge">
                <span class="btn btn_sm btn_success">뱃지</span>
            </p>
            <a href="#;">
                <h2>
                    <span class="ellipsis">타이틀 영역 타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀
                        영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역</span>
                    <img src="/img/common/ico_angle.svg" alt="">
                </h2>
                <p class="ellipsis">
                    간단한 설명이 들어가는 영역입니다. 최대 3줄까지 작성합니다. 간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한
                    설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이
                    들어가는 영역입니다. 최대 3줄까지 작성합니다. 간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는
                    영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.
                </p>
                <span class="btn btn_lightprimary">신청하기</span>
            </a>
            <dl>
                <dt>신청 기간</dt>
                <dd>2025.01.01 - 2025.01.01</dd>
            </dl>
            <p class="hash_wrap">
                <span class="btn btn_light_border btn_sm">#태그</span>
                <span class="btn btn_light_border btn_sm">#태그</span>
                <span class="btn btn_light_border btn_sm">#태그</span>
            </p>
            <div class="share_wrap">
                <button class="hover_btn btn btn_xs">
                    <i class="svg_icon ico_share"></i>
                    공유하기
                </button>
                <button class="hover_btn btn btn_xs">
                    <i class="svg_icon ico_like"></i>
                    찜하기
                </button>
            </div>
        </div>
        <div class="structured_list">
            <p class="structed_badge">
                <span class="btn btn_sm btn_danger">뱃지</span>
            </p>
            <a href="#;">
                <h2>
                    <span class="ellipsis">타이틀 영역 타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀
                        영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역</span>
                    <img src="/img/common/ico_angle.svg" alt="">
                </h2>
                <p class="ellipsis">
                    간단한 설명이 들어가는 영역입니다. 최대 3줄까지 작성합니다. 간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한
                    설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이
                    들어가는 영역입니다. 최대 3줄까지 작성합니다. 간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는
                    영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.
                </p>
                <span class="btn btn_lightprimary">신청하기</span>
            </a>
            <dl>
                <dt>신청 기간</dt>
                <dd>2025.01.01 - 2025.01.01</dd>
            </dl>
            <p class="hash_wrap">
                <span class="btn btn_light_border btn_sm">#태그</span>
                <span class="btn btn_light_border btn_sm">#태그</span>
                <span class="btn btn_light_border btn_sm">#태그</span>
            </p>
            <div class="share_wrap">
                <button class="hover_btn btn btn_xs">
                    <i class="svg_icon ico_share"></i>
                    공유하기
                </button>
                <button class="hover_btn btn btn_xs">
                    <i class="svg_icon ico_like"></i>
                    찜하기
                </button>
            </div>
        </div>
        <div class="structured_list">
            <p class="structed_badge">
                <span class="btn btn_sm btn_lightprimary">뱃지</span>
            </p>
            <a href="#;">
                <h2>
                    <span class="ellipsis">타이틀 영역 타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀
                        영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역타이틀 영역</span>
                    <img src="/img/common/ico_angle.svg" alt="">
                </h2>
                <p class="ellipsis">
                    간단한 설명이 들어가는 영역입니다. 최대 3줄까지 작성합니다. 간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한
                    설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이
                    들어가는 영역입니다. 최대 3줄까지 작성합니다. 간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는
                    영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.간단한 설명이 들어가는 영역입니다. 간단한 설명이 들어가는 영역입니다.
                </p>
                <span class="btn btn_lightprimary">신청하기</span>
            </a>
            <dl>
                <dt>신청 기간</dt>
                <dd>2025.01.01 - 2025.01.01</dd>
            </dl>
            <p class="hash_wrap">
                <span class="btn btn_light_border btn_sm">#태그</span>
                <span class="btn btn_light_border btn_sm">#태그</span>
                <span class="btn btn_light_border btn_sm">#태그</span>
            </p>
            <div class="share_wrap">
                <button class="hover_btn btn btn_xs">
                    <i class="svg_icon ico_share"></i>
                    공유하기
                </button>
                <button class="hover_btn btn btn_xs">
                    <i class="svg_icon ico_like"></i>
                    찜하기
                </button>
            </div>
        </div>
        


    </div>

    
    <footer></footer>
    <div id="optPanel"></div>
    
    <script src="/js/layout.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>