<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/custom.css" type="text/css" rel="stylesheet" />

    <script defer src="https://cdn.jsdelivr.net/npm/krds-uiux@1.0.3/resources/cdn/krds.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
</head>

<body>
    <!-- 건너뛰기 링크 -->
    <div id="krds-skip-link">
        <a href="#breadcrumb">본문 바로가기</a>
    </div>
    <!-- //건너뛰기 링크 -->
    <!-- masthead -->
    <div id="krds-masthead">
        <div class="toggle-wrap">
            <div class="toggle-head">
                <div class="inner">
                    <span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- //masthead -->

    <!-- header -->
    <div id="headerWrap"></div>
    <!-- //header -->

    <div class="inner sub_content">
        <!-- side navigation -->
        <nav class="krds-side-navigation">
            <h2 class="lnb-tit">컴포넌트</h2>
            <!-- lnb-list -->
            <ul class="lnb-list" role="menubar" id="sideNav"></ul>
            <!-- //lnb-list -->
        </nav>
        <!-- //side navigation -->

        <div class="page_wrap">
            <!-- breadcrumb -->
            <nav class="krds-breadcrumb-wrap" aria-label="현재 경로" id="breadcrumb"></nav>

            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>


            <h4 class="con-tit">풀 배너</h4>

            <!-- carousel -->
            <!--
 	해당 컴포넌트 사용 시 페이지에
 	/resources/css/plugin/swiper-bundle.min.css
 	/resources/js/plugin/swiper-bundle.min.js
 	를 추가 필요
 -->
            <!-- visual banner -->
            <div class="main-vban-wrap">
                <div class="vb-swiper">
                    <div class="swiper">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">1</li>
                            <li class="swiper-slide">2</li>
                            <li class="swiper-slide">3</li>
                        </ul>
                    </div>
                    <button type="button" class="swiper-button-prev">
                        <span class="sr-only">이전</span>
                    </button>
                    <button type="button" class="swiper-button-next">
                        <span class="sr-only">다음</span>
                    </button>
                    <div class="swiper-indicator text-center">
                        <div class="swiper-pagination"></div>
                        <a href="#" class="swiper-button-more">
                            <span class="sr-only">더 보기</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <footer id="krds-footer"></footer>
    <!-- //footer -->
    <script src="/js/layout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script>
        //비주얼 배너
        const vbSwiper = new Swiper('.vb-swiper .swiper', {
            slidesPerView: 1,
            spaceBetween: 0,
            speed: 400,
            loop: true,
            navigation: {
                nextEl: '.vb-swiper .swiper-button-next',
                prevEl: '.vb-swiper .swiper-button-prev',
            },
            pagination: {
                el: ".vb-swiper .swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <!-- //carousel -->
</body>

</html>