<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW KRDS USER</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="noriTop">
        <div class="inner flex align">
            <img src="/img/common/ico_flag.svg" alt="">
            이 누리집은 대한민국 공식 전자정부 누리집입니다.
        </div>
    </div>
    <header id="headerPc"></header>
    <header id="headerMobile"></header>
    <div class="inner sub_content">
        <nav>
            <h2 id="subTitle">컴포넌트</h2>
            <ul class="lnb-list" id="sideNav"></ul>
        </nav>

        <div class="page_wrap">
            <div id="breadcrumb"></div>
            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>
        </div>

        <table class="table_01">
            <caption>000에 대한 표로 제목1,제목2에 대한 내용으로 구성되어 있으며 제목1은 제목1-1,제목1-2,제목1-3으로 구성되어있다.</caption>
            <colgroup>
                <col style="width: 30%;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">제목1</th>
                    <th scope="col">제목2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">제목1-1</th>
                    <td>내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이
                        들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. </td>
                </tr>
                <tr>
                    <th scope="row">제목1-2</th>
                    <td>내용이 들어갑니다.</td>
                </tr>
                <tr>
                    <th scope="row">제목1-3</th>
                    <td>내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. </td>
                </tr>
            </tbody>
        </table>

        <table class="table table_border mgt3">
            <colgroup>
                <col width="40px">
                <col width="*">
                <col width="*">
                <col width="100px">
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Progress</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_danger" style="width: 55%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_danger">55%</span></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_warning" style="width: 70%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_warning">70%</span></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_primary" style="width: 30%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_primary">30%</span></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_success" style="width: 90%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_success">90%</span></td>
                </tr>
            </tbody>
        </table>

        <table class="table table_full mgt3">
            <colgroup>
                <col width="40px">
                <col width="*">
                <col width="*">
                <col width="100px">
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Progress</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_danger" style="width: 55%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_danger">55%</span></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_warning" style="width: 70%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_warning">70%</span></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_primary" style="width: 30%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_primary">30%</span></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_success" style="width: 90%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_success">90%</span></td>
                </tr>
            </tbody>
        </table>

        <table class="table table_striped mgt3">
            <colgroup>
                <col width="40px">
                <col width="*">
                <col width="*">
                <col width="100px">
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Progress</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_danger" style="width: 55%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_danger">55%</span></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_warning" style="width: 70%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_warning">70%</span></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_primary" style="width: 30%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_primary">30%</span></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_success" style="width: 90%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_success">90%</span></td>
                </tr>
            </tbody>
        </table>

        <table class="table table_full table_hover mgt3">
            <colgroup>
                <col width="40px">
                <col width="*">
                <col width="*">
                <col width="100px">
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Progress</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_danger" style="width: 55%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_danger">55%</span></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_warning" style="width: 70%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_warning">70%</span></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_primary" style="width: 30%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_primary">30%</span></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td>
                        <div class="progress progress_xs">
                            <div class="progress_bar bg_success" style="width: 90%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg_success">90%</span></td>
                </tr>
            </tbody>
        </table>

        <div style="margin-top : 3rem; height:300px; overflow : auto">
            <table class="table table_full table_head_fix">
                <colgroup>
                    <col width="40px">
                    <col width="*">
                    <col width="*">
                    <col width="100px">
                </colgroup>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Task</th>
                        <th>Progress</th>
                        <th>Label</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Update software</td>
                        <td>
                            <div class="progress progress_xs">
                                <div class="progress_bar bg_danger" style="width: 55%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg_danger">55%</span></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Clean database</td>
                        <td>
                            <div class="progress progress_xs">
                                <div class="progress_bar bg_warning" style="width: 70%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg_warning">70%</span></td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Cron job running</td>
                        <td>
                            <div class="progress progress_xs">
                                <div class="progress_bar bg_primary" style="width: 30%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg_primary">30%</span></td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Fix and squish bugs</td>
                        <td>
                            <div class="progress progress_xs">
                                <div class="progress_bar bg_success" style="width: 90%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg_success">90%</span></td>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Update software</td>
                        <td>
                            <div class="progress progress_xs">
                                <div class="progress_bar bg_danger" style="width: 55%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg_danger">55%</span></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Clean database</td>
                        <td>
                            <div class="progress progress_xs">
                                <div class="progress_bar bg_warning" style="width: 70%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg_warning">70%</span></td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Cron job running</td>
                        <td>
                            <div class="progress progress_xs">
                                <div class="progress_bar bg_primary" style="width: 30%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg_primary">30%</span></td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Fix and squish bugs</td>
                        <td>
                            <div class="progress progress_xs">
                                <div class="progress_bar bg_success" style="width: 90%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg_success">90%</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table table_border table_hover mgt3">
            <colgroup>
                <col width="100">
                <col width="200">
                <col width="200">
                <col width="200">
                <col width="*">
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr class="expand_head" onclick="expandTable(this)">
                    <td>183</td>
                    <td>John Doe</td>
                    <td>11-7-2014</td>
                    <td>Approved</td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr class="expand_body">
                    <td colspan="5">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                            with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </div>
                    </td>
                </tr>
                <tr class="expand_head" onclick="expandTable(this)">
                    <td>219</td>
                    <td>Alexander Pierce</td>
                    <td>11-7-2014</td>
                    <td>Pending</td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr class="expand_body">
                    <td colspan="5">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                            with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </td>
                </tr>
                <tr class="expand_head" onclick="expandTable(this)">
                    <td>657</td>
                    <td>Alexander Pierce</td>
                    <td>11-7-2014</td>
                    <td>Approved</td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr class="expand_body">
                    <td colspan="5">
                        <p style="">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                            with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </td>
                </tr>
                <tr class="expand_head" onclick="expandTable(this)">
                    <td>175</td>
                    <td>Mike Doe</td>
                    <td>11-7-2014</td>
                    <td>Denied</td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr class="expand_body">
                    <td colspan="5">
                        <p style="">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                            with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </td>
                </tr>
                <tr class="expand_head" onclick="expandTable(this)">
                    <td>134</td>
                    <td>Jim Doe</td>
                    <td>11-7-2014</td>
                    <td>Approved</td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr class="expand_body">
                    <td colspan="5">
                        <p style="">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                            with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

   <footer></footer>
    <script src="/js/layout.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>