<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW KRDS USER</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="noriTop">
        <div class="inner flex align">
            <img src="/img/common/ico_flag.svg" alt="">
            이 누리집은 대한민국 공식 전자정부 누리집입니다.
        </div>
    </div>
    <header id="headerPc" class="type_krds"></header>
    <header id="headerMobile"></header>
    <div class="inner sub_content">
        <nav>
            <h2 id="subTitle">컴포넌트</h2>
            <ul class="lnb-list" id="sideNav"></ul>
        </nav>

        <div class="page_wrap">
            <div id="breadcrumb"></div>
            <div class="page-title-wrap">
                <h1 class="h-tit" id="pageTitle"></h1>
            </div>
        </div>

        <ul class="info_list decimal" role="list">
            <li>텍스트 목록 레벨1</li>
            <li>
                텍스트 목록 레벨1
                <ul class="info_list dash">
                    <li>텍스트 목록 레벨2</li>
                    <li>
                        텍스트 목록 레벨2
                        <ul class="info_list hollow">
                            <li>텍스트 목록 레벨3</li>
                            <li>텍스트 목록 레벨3</li>
                        </ul>
                    </li>
                    <li>텍스트 목록 레벨2</li>
                </ul>
            </li>
            <li>텍스트 목록 레벨1</li>
            <li>
                텍스트 목록 레벨1
                <ol class="info_list ordered">
                    <li><span class="num">①</span>텍스트 목록 레벨3</li>
                    <li><span class="num">②</span>텍스트 목록 레벨3</li>
                </ol>
            </li>
            <li>
                텍스트 목록 레벨1
                <ol class="info_list ordered">
                    <li><span class="num">1.</span>텍스트 목록 레벨3</li>
                    <li><span class="num">2.</span>텍스트 목록 레벨3</li>
                </ol>
            </li>
            <li>
                텍스트 목록 레벨1
                <ol class="info_list ordered">
                    <li><span class="num">a.</span>텍스트 목록 레벨3</li>
                    <li><span class="num">b.</span>텍스트 목록 레벨3</li>
                </ol>
            </li>
        </ul>
    </div>

    <footer></footer>
    <div id="optPanel"></div>
    <script src="/js/layout.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>